.bottom {
    height: 300px;
    transform: rotate(180deg); /* rotate 180 grades */
    /*background-color: pink;*/
}
.smallIcon {
  transform: rotate(180deg); /* rotate 180 grades */

    margin-top: 80%;
    margin-left: 75%;
}

.card{
    height: 150px;
    width: 9%;
    margin: 1%;
    border: solid;
    border-radius: 5%;
    /*background-image: url("https://image.shutterstock.com/image-vector/beautiful-face-queen-icon-600w-315462977.jpg");
  */background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.77);

}
.span1{
    margin-left: 200%;
}
.span2{
    margin-left: 200%;
}
.container{
    display: inline-block;
}
.cardValue{
    font-weight: bold;
    font-size: 100%;
    margin-left: 70%;
}
.picture{
    text-align: center;
    position: middle;
}